# Build artifacts
bin/
obj/
*.user
*.suo

# Rider + VS Code
.idea/
.vscode/

## Steamworks native binaries
#steamworks/**/*.dll
#steamworks/**/*.so
#steamworks/**/*.dylib
#
## App ID file
#steamworks/**/steam_appid.txt

# Logs and traces
*.log
*.trace

# OS-specific
Thumbs.db
.DS_Store
